$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$title-color: #cef0d4;
$title-shadow-color: #082b34;

h1 {
  color: $title-color;
  font-family: 'Rouge Script', cursive;
  font-size: 130px;
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  text-shadow: 1px 1px 2px $title-shadow-color;
}

.menu {
  text-align: center;
}

$button-background-color: #ff493a;
$button-text-color: #000000;
$button-active-text-color: #ffffff;
$button-active-background-color: #66c161;
$button-active-box-shadow-color: #0c280a;

.basicBtn {
  font-family: Hack, monospace;
  background: $button-background-color;
  color: $button-text-color;
  cursor: pointer;
  padding: 2rem;
  font-size: 2.5em;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 300px;
}

.loginBtn {
  @extend .basicBtn;

  &::after {
    @include fa-icon();
    content: $fa-var-sign-in;
    position: absolute;
    left: 80%;
    top: 55%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: $button-active-background-color;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0 6px 15px $button-active-box-shadow-color;
    padding: 2rem 3.5rem 2rem 2rem;
    color: $button-active-text-color;

    &::after {
      opacity: 1;
      transition: all 0.5s;
      color: $button-active-text-color;
    }
  }
}

.registerBtn {
  @extend .basicBtn;

  &::after {
    @include fa-icon();
    content: $fa-var-user-plus;
    position: absolute;
    left: 87%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: $button-active-background-color;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0 6px 15px $button-active-box-shadow-color;
    padding: 2rem 4.7rem 2rem 2rem;
    color: $button-active-text-color;

    &::after {
      opacity: 1;
      transition: all 0.5s;
      color: $button-active-text-color;
    }
  }
}
